{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "crlf",
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "quoteProps": "as-needed",
  "useEditorConfig": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@rocket.chat/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ]
}
