{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "crlf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "as-needed"
}
